# 환경 변수
*.env

# 가상환경
*.venv/

# Python 캐시
*__pycache__/

# 데이터
*dbeaver_setting/database/
*database/
*.csv
*.json
*.pkl
*.db
*.sqlite3
*.log

# node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# IDE / 편집기
*.vscode/
*.idea/
*.kiro/

# 빌드 & 패키지 관리
*.egg-info/
.eggs/
dist/
build/